<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="form" th:object="${requestBoard}">
        <dl>
            <dt>작성자</dt>
            <dd>
                <input type="text" name="author" th:field="*{author}">
                <div class="error" th:each="err : ${#fields.errors('author')}"
                     th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt>제목</dt>
            <dd>
                <input type="text" name="title" th:field="*{title}">
                <div class="error" th:each="err : ${#fields.errors('title')}"
                     th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt>내용</dt>
            <dd>
                <input type="text" name="content" th:field="*{content}">
                <div class="error" th:each="err : ${#fields.errors('content')}"
                     th:text="${err}"></div>
            </dd>
        </dl>
    </th:block>
</html>