<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form method="post" th:action="@{/board/save}" th:object="${requestBoard}" autocomplete="off">
        <input type="hidden" name="id" th:field="*{id}">
        <th:block th:replace="~{front/board/_form::form}"></th:block>
        <div class="submit_btns">
            <button type="reset" th:text="#{다시입력}"></button>
            <button type="submit" th:text="#{수정하기}"></button>
        </div>
    </form>
</main>